body{
    margin:0px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  padding:0 30px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  color: black;
    font-family: 'Pacifico', cursive;
    text-decoration:underline;
    font-size:20px;
}

.topnav a.active {
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.name{
    float:right;
    padding:0px 30px;
    font-family:
    font-weight:
}
.right ul{
    float:right;
}

.carousel-item .img-fluid {
  width:1100px;
  height:500px;
}

.order-now{
    color:black;
    font-size:20px;
    padding:10px;
    border:solid 2px black;
    border-radius:20px;
    box-shadow: 2px 2px 5px 5px;
    background-color:rgb(255,255,252,0.5);
}
.order-now:hover{
    text-decoration:none;
    opacity:1;
    font-weight:20px;
}

nav li{
    font-family: 'Pacifico', cursive;
    font-size:18px;
}
nav li:hover{
    font-family: 'Pacifico', cursive;
    text-decoration:underline;
    font-size:20px;
}

marquee{
    font-family: 'Dancing Script', cursive;
    font-size:18px;
}

#box{
    margin:25px 0px;
    padding:20px;
    background-color:rgb(255,255,252,0.7);
}
#about h2{
    font-family: 'Pacifico', cursive;
}
#about h2:hover{
    text-decoration:underline;
    font-size:30px;
}
#about p{
    font-family: 'Cookie', cursive;
    font-size:22px;
}
#about li{
    font-family: 'Cookie', cursive;
    font-size:22px;
}
#about img{
    margin:0px 30px;
}
.rotating-logo{
    margin: 100px 0px;
}
.rotate {
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
#menu{
    padding:40px;
}
#menu h2{
    font-family: 'Pacifico', cursive;
    font-size:50px;
    text-align:center;   
}
#menu h2:hover{
    font-size:60px;
    text-decoration:underline;
}
}#menu h1{
    font-family:'Pacifico', cursive;
    padding:10px; 
}
#menu h1:hover{
    text-decoration:underline;
}
td{
    padding:5px;
    font-family: 'Handlee', cursive;
    font-weight:30px;
}
#box1{
    background-color:rgb(255,255,252,0.3);
    padding:20px;
}
#menu table{
    background-color:rgb(255,255,252,0.3);
    border:solid 1px grey;
    padding:20px;
}

#menu table:hover{
    background-color:rgb(255,255,252,0.7);
    border:solid 2px white;
    padding:20px;
}
.menu-item{
    width:200px;
    height:200px;
    border:dashed 1px black;
    border-radius:240px;
    float:right;
    margin:20px auto;
    opacity:0.9;
}
.menu-item:hover{
    border:solid 2px white;
    opacity:1.0;
}
.t1{
    background-color:rgb(255,255,252,0.7);
    padding:20px;
}
#testimonials{
    padding:30px 30px;
}
#testimonials h1{
    font-family: 'Pacifico', cursive;
    font-size:40px;
    text-align:center;
    background-color:rgb(0,0,0,0.7);   
}
#testimonials h1:hover{
    font-size:50px;
    text-decoration:underline;
}
#testimonials p{
    font-family: 'Rancho', cursive;
    font-size:25px;
}
#reservation{
    padding:auto;
}
#reservation h1{
    background-color:rgb(255,255,252,0.7);
    font-family:'Pacifico', cursive;
}
#reservation h1:hover{
    font-size:50px;
    text-decoration:underline;
}
#blogs{
    padding:30px 30px;
}
#blogs h1{
    background-color:rgb(0,0,0,0.7);
    font-family:'Pacifico', cursive;
    text-align:center;
    margin:30px;
}
#blogs h1:hover{
    font-size:50px;
    text-decoration:underline;
}
#blogs h4{
    font-family: 'Cookie', cursive;
    font-size:30px;
}
#blogs h4:hover{
    text-decoration:underline;
}
#blogs p{
    font-family: 'Handlee', cursive;
}
#donate{
    padding:30px;
}
#donate h5{
    font-family:'Pacifico', cursive;
    font-size:30px;
}
#donate h5:hover{
    text-decoration:underline;
}
#donate p{
    font-family: 'Handlee', cursive;
}
#donate small{
    font-family: 'Dancing Script', cursive;
    font-size:18px;
}
#contact{
    padding:50px;
    color:white;
}
#contact h1{
    font-family: 'Monoton', cursive;
}
#contact h1:hover{
    text-decoration:underline;
}
#contact h3{
    font-family: 'Monoton', cursive;
}
#contact h3:hover{
    text-decoration:underline;
}
#contact .col-12{
    background-color:rgb(0,0,0,0.8);
    padding:10px;
}
footer{
    color:white;
    background-color:black;
    margin:0px;
}
.fa {
  font-size:30px;
  padding:10px;
  margin:10px;
}
#footer hr{
    color:white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
